<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    
    <script src="https://unpkg.com/vue@next"></script>

    <title>
        Assignments
    </title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="index.html"><img src="img/ISRA_logo.png" alt="ISRA Logo" width="100"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="games.html">Games</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="referees.html">Referees</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="assignments.html">Assignments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="gameDetails.html">Game Detailed View</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="refereeDetails.html">Referee Detailed View</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="game_assigned_report.html">Game Assignments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="future_game_report.html">Future Games</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div id="pageHeader">
        <h1>Assignments</h1>
    </div>
    <div id="RefApp" class="container">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Assign ID</th>
                    <th scope="col">Game ID</th>
                    <th scope="col">Referee ID</th>
                    <th scope="col">Position</th>
                    <th scope="col">Status</th>
                    <th scope="col">Edit/Delete</th>
                </tr>
            </thead>
            <tbody>
              <tr v-for="assignment in assignments">
                <td>{{ assignment.assign_ID }}</td>
                <td>{{ assignment.game_ID }}</td>
                <td>{{ assignment.ref_ID }}</td>
                <td>{{ assignment.position }}</td>
                <td>{{ assignment.assign_status }}</td>
                <td>
                  <button type="button" v-on:click="handleEditAssignment(assignment)" class="btn btn-outline-secondary btn-sm">Edit</button>
                  <button type="button" v-on:click="postDeleteAssignment(assignment)" class="btn btn-outline-secondary btn-sm">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
        <div>
          <div class="col-md-2">
          </div>
          <div class="col-md-8">
            <h4>{{ selectedAssignment === null ? "Add " : "Edit " }} Assignment</h4>
          </div>
          <div class="col-md-2">
          </div>
        </div>
        <form v-on:submit.prevent="postAssignment">
          <div class="col-md-2">
          </div>
          <div class="col-md-4">
            <label for="inputGame" class="form-label">Game ID*</label>
            <select class="form-select" v-model="assignmentForm.game_ID" id="inputGame">
              <option v-for="game in games" :value="game_ID" required>{{ game.game_ID }}</option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="inputRef" class="form-label">Referee</label>
            <select class="form-select" v-model="assignmentForm.ref_ID" id="inputRef">
              <option v-for="ref in referees" :value="id" required>{{ ref.id }}></option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="inputPosition" class="form-label">Position</label>
            <input type="text" class="form-control" v-model="assignmentForm.position" id="inputPosition">
          </div>
          <div class="col-md-4">
            <label for="inputStatus" class="form-label">Status</label>
            <input type="text" class="form-control" v-model="assignmentForm.assign_status" id="inputStatus">
          </div>
        
          <div class="col-1">
            <button type="submit" class="btn btn-primary">{{ selectedAssignment === null ? "Add " : "Edit " }} Assignment</button>
            <button type="button" class="btn btn-outline-secondary" v-if="selectedAssignment" v-on:click="handleResetEdit">Cancel Edit</button>
          </div>
        </form>
    </div>

  
    <script src="js/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

</body>

<footer>
  <img src="img/Kelley_Logo.png" class="rounded mx-auto d-block" alt="kelley_logo" width="150">
</footer>

</html>